@import '../../../../variables.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.content-blurb {
	img {
		.small-icon {
			height: 20px;
		}
		.medium-icon {
			height: 60px;
		}
		.large-icon {
			height: 100px;
		}
	}
}
